{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
{% endblock %}

{% block content %}
<div data-navbar data-active="{{ active_nav }}"></div>

<div class="register-page min-vh-100 d-flex justify-content-center align-items-center">

    <!-- Form to get otp value from user and match with generated otp value -->
    <form id="otp-page " class="bg-white bg-opacity-75 p-4 rounded-4 shadow" method="POST" action="{{ url_for('otp_verification') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="email" value="{{ email }}">

        <h3 class="text-center mb-4">Verify your email</h3>

        <p class="text-center mb-4">We have sent a 6-digit OTP to your entered student email.</p>

        <div class="mb-3">
            <label for="otp" class="form-label">Enter OTP:</label>
            <input type="text" id="otp" name="otp" placeholder="Enter 6-digit OTP" class="form-control" maxlength="6" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Submit OTP</button>

        <p class="text-center mt-3">Didn't receive OTP? <a href="{{ url_for('resend_otp', email=email) }}">Resend OTP</a></p>

    </form>

</div>

{% endblock %}